<%
    var styleArray = [];//根目录css
    var scriptArray = ["/js/user/reg.min.js","/lib/plug-in/ajax_upload.js"];//根目录js
%>
<% include ../include/header.html%>
<div class="container">
    <form action="/users/reg" method="post"  role="form" class="form-horizontal">
        <div class="form-group">
            <label for="username" class="col-sm-2 control-label">用户名</label>
            <div class="input-group col-sm-10">
                <div class="input-group-addon"> <span class="glyphicon glyphicon-user"></span> </div>
                <input type="text" class="form-control" id="username" name="username" placeholder="用户名"/>
            </div>

        </div>
        <div class="form-group">
            <label for="email" class="col-sm-2 control-label">邮箱</label>
            <div class="input-group col-sm-10">
                <div class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></div>
                <input type="email" class="form-control" name="email" id="email" placeholder="邮箱"/>
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="col-sm-2 control-label">密码</label>
            <div class="input-group col-sm-10">
                <div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
                <input type="password" class="form-control" name="password" id="password" placeholder="密码"/>
            </div>
        </div>
                <div class="form-group">
            <label for="repassword" class="col-sm-2 control-label">确认密码</label>
            <div class="input-group col-sm-10">
                <div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
                <input type="password" class="form-control" name="repassword" id="repassword" placeholder="确认密码"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">上传头像</label>
            <div class="col-sm-10">
                <label for="ImgFile" class="btn btn-default">选择图片</label>
                <input type="file" id="ImgFile" multiple="multiple" style="display: none;">
            </div>
        </div>
        <div class="form-group" style="display: none" id="showBox">
            <label class="col-sm-2 control-label"></label>
            <div class="col-sm-10">
                <img src="" width="100" id="previewPicturesImg">
                <input type="hidden" name="avatar" value="" id="avatar"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">提交</button>
                <button type="reset" class="btn btn-default">重置</button>
            </div>
        </div>

    </form>
</div>
<% include ../include/footer.html%>